
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>信息审核列表</h5>
                    <h5 style="margin-left:1000px;">{$hint}</h5>
                </div>
                <div class="ibox-content">
    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">

           <tr style="color:#0000E3">
               <td>绑定手机号</td>
               <td>实名认证</td>
               <td>绑定邮箱</td>
               <td>密码认证</td>
               <td>手机绑定</td>
               <td>密保问题</td>
               <td>安全级别</td>
               <td>用户名</td>
           </tr>
           <tr style="color:#00BB00">
               <td>{$accountSafeInfo.bindMobile}</td>
               <td>{$accountSafeInfo.identityVerified}</td>
               <td>{$accountSafeInfo.loginEmail}</td>
               <td>{$accountSafeInfo.loginPasswdVerify}</td>
               <td>{$accountSafeInfo.mobileVerified}</td>
               <td>{$accountSafeInfo.pwdProtectedQuestion}</td>
               <td>{$accountSafeInfo.safeLevel}</td>
               <td>{$accountSafeInfo.username}</td>
          </tr> 
          <tr style="color:#0000E3">
               <td>账户类型</td>
               <td>支付宝账户</td>
               <td>绑定邮箱</td>
               <td>绑定手机</td>
               <td>实名信息</td>
           </tr>
           <tr style="color:#00BB00">
               <td>{$bindAccountInfo.accountType}</td>
               <td>{$bindAccountInfo.alipatAccount}</td>
               <td>{$bindAccountInfo.bindEmail}</td>
               <td>{$bindAccountInfo.bindMobile}</td>
               <td>{$bindAccountInfo.identity}</td>
          </tr> 
          <tr style="color:#0000E3">
               <td>支付宝余额</td>
               <td>余额宝金额</td>
               <td>余额宝收益</td>
               <td>买家信用分</td>
               <td>信用等级</td>
               <td>成长值</td>
               <td>花呗余额</td>
               <td>花呗总额</td>
               <td>淘宝快捷支付限额</td>
               <td>淘宝等级</td>
               <td>淘宝账户名称</td>
               <td>天猫等级</td>
               <td>天猫分数</td>
               <td>天猫经验值</td>
           </tr>
           <tr style="color:#00BB00">
               <td>{$personalInfo.aliPayRemainingAmount}</td>
               <td>{$personalInfo.aliPaymFund}</td>
               <td>{$personalInfo.aliPaymFundProfit}</td>
               <td>{$personalInfo.buyerCreditPoint}</td>
               <td>{$personalInfo.creditLevel}</td>
               <td>{$personalInfo.growthValue}</td>
               <td>{$personalInfo.huabeiCanUseMoney}</td>
               <td>{$personalInfo.huabeiTotalAmount}</td>
               <td>{$personalInfo.taobaoFastRefundMoney}</td>
               <td>{$personalInfo.taobaoLevel}</td>
               <td>{$personalInfo.tianMaoAccountName}</td>
               <td>{$personalInfo.tianMaoLevel}</td>
               <td>{$personalInfo.tianMaoPoints}</td>
               <td>{$personalInfo.tianmaoExperience}</td>
       
          </tr> 
       </table>
      <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">      
      <tr>
            <td style="color:#0000E3">收货地址</td>
          </tr>
      <volist name="addrs" id="vo">
          <tr>
            <td>{$vo}</td>
          </tr>
      </volist>
       </table>
     <!--  <span style="color:red">2017年成功消费金额：{$money}</span> -->


      <span style="color:black;margin-left:100px;">{$mytime}至今成功消费金额：{$lost_money}</span>
<volist name="arr" id="vo">
       <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <volist name="vo['orderProducts']" id="v">
       <tr>
            <td style="color:#0000E3">产品名称:</td>
        <td>{$v.productName}</td>
            <td style="color:#0000E3">产品价格:</td>
        <td>{$v.productPrice}</td>
       </tr>
    </volist>
          <tr style="color:#0000E3">
            <td>订单日期</td>
            <td>订单状态</td>
            <td>订单总额</td>
            <td>订单号</td>
          </tr>
          <tr>
            <td>{$vo.businessDate}</td>
            <td>{$vo.orderStatus}</td>
            <td>{$vo.orderTotalPrice}</td>
            <td>{$vo.orderid}</td>
          </tr>
       </table>
</volist>
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
</html>
