<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>用户注册协议</title>
<style>
body{ margin:0; padding:0;}
h2, h1 {
	color: #45b7fd;
}
h2, h1, p {
	margin: 0;
	padding: 0;
}
.bt {
	text-align: center;
	font-size:36px;
	color:#45b7fd;
	font-weight:bold;
}
.indent {
	text-indent: 2em;
}

</style>

</head>

<body>
<div style="margin:30px;">
<p class="bt">欢迎您成为蜻蜓白卡会员！</p>
<br/>
<h2>第一条 注册协议的确认和接纳</h2>
<br/>
<p>本注册协议由您（以下简称“会员”）与蜻蜓白卡网站（以下简称“网站”）运营方河南自由蜻蜓网络科技有限公司（以下简称“本公司”）订立。在您申请注册成为蜻蜓白卡网站会员前，请您仔细阅读本协议。当您选择“同意《蜻蜓白卡网站注册协议》”（或类似同意按钮） 并完成会员注册程序（涉及激活操作要求的，您应完成激活操作）后，或以蜻蜓白卡允许的其他方式实际使用会员服务时，即表示您自愿接受本会员注册协议且视为您具有享受蜻蜓白卡网站服务及遵守蜻蜓白卡网站规定相应的权利能力和行为能力，正式成为蜻蜓白卡网站会员。若您不同意本注册协议，或对本注册协议的条款存在任何疑问，请停止进行蜻蜓白卡网站会员注册程序，不要使用蜻蜓白卡会员服务。</p>

 
<br/>
<h2>第二条 服务简介</h2>
<br/>
<p>1、通过蜻蜓白卡网站为您提供网络平台服务，包括但不限于信用评估、授信、提现、代收、代付、提醒、催收等服务，以及您在实际使用本服务过程中涉及的本公司或本公司接受您的委托为您不时提供的服务以及提供的其他相关服务（以下可简称为“会员服务”）等，具体内容以蜻蜓白卡当时提供的服务内容为准；为改善会员体验或经营需要，会员服务的项目和内容可能会不时调整。
</p><br/>
<p>2、会员服务的条件和规则包含于本注册协议以及在蜻蜓白卡网站内统一发布的服务条款、说明、通知公告、操作规则、温馨提示等规则（合称“网站规则”）中；请您在阅读并同意遵守本注册协议及网站规则后，再享受会员服务，否则由此带来的不便和责任由您自行承担。
</p><br/>
<p>3、您应自行准备如下设备并承担如下开支：</p>

<p class="indent">(1)上网设备：包括但不限于计算机、调制解调器或其他必备的上网装置；</p>

<p class="indent">(2)上网开支：包括但不限于网络接入费、手机流量费等费用。</p>
<br/>
<p>4、为更好的为您提供会员服务，蜻蜓白卡可能会委托相关合作方向您提供一部分会员服务而无须经过您的同意或特别告知您；对此，你完全理解并予以同意。</p>

 
<br/>
<h2>第三条 会员管理</h2>
<br/>
<p>1、蜻蜓白卡仅向依法能够且有权订立具有法律约束力合约的自然人、法人及其他组织提供会员服务。因此，您应是具备完全民事权利能力和民事行为能力的自然人，或依法成立，存续的法人或其他组织；若您不具备该条件，蜻蜓白卡可随时、全权决定拒绝向您提供会员服务；若因此给蜻蜓白卡或第三方造成损失的，您应承担全部赔偿责任。</p>
<br/>
<p>2、您申请成为蜻蜓白卡网站会员时，应自行向蜻蜓白卡提供真实、准确、完整、合法有效的注册资料，并且当您的注册资料发生变动时，应及时进行更新。如果您提供的注册资料不合法、不真实、不准确、不详尽，您须承担因此引起的相应责任及后果，并且蜻蜓白卡有权注销您的会员账户，终止您使用会员服务的权利。</p>
<br/>
<p>3、涉及您姓名、地址、电子邮箱、账号和电话号码等个人信息的，蜻蜓白卡将予以严格保密，除非：</p>

<p class="indent">(1)事先获得您的明确授权；</p>

<p class="indent">(2)系为履行您的订单或保护您的合法权利所必须；
</p>
<p class="indent">(3)系为您正常提供会员服务而必须提供给蜻蜓白卡委托的相关合作方的；</p>

<p class="indent">(4)相应的法律程序及相关政府部门要求蜻蜓白卡提供的。</p>
<br/>
<p>4、成功注册成为蜻蜓白卡网站会员后，您将得到会员账户，登录会员账户时您可以使用您提供或确认的用户名、邮箱、手机号码或者蜻蜓白卡网站允许的方式作为会员账户登录名进行登录，但在登录时您必须输入您设定并保管的会员账户密码；您应妥善保管您的会员账户的密码；为保护您的权益，您在设定会员账户密码时，请勿使用重复性或者连续数字的简单密码；请勿将密码告知他人，因密码保管不善而造成的经济损失由您自行承担。</p>
<br/>
<p>5、您可以为您的会员账户设定会员昵称，但会员昵称不得侵犯他人合法权益；如蜻蜓白卡认为您设置的会员昵称涉嫌侵犯他人合法权益的，如蜻蜓白卡有权终止为您提供会员服务，注销您的会员昵称。若您不再属于蜻蜓白卡网站会员的，对于您的原会员昵称，蜻蜓白卡可以将其开放给任意会员注册。</p>
<br/>
<p>6、除非有法律规定或依生效司法裁决，或者符合蜻蜓白卡公布的条件，否则您的用户名、会员昵称和密码不得以任何方式转让、赠与或继承，并且转让、赠与或继承需提供蜻蜓白卡要求的合格的文件材料并根据蜻蜓白卡制定的操作流程办理。</p>
<br/>
<p>7、您需要对通过您的会员账户所进行的活动和事件负全责，请勿将在蜻蜓白卡网站注册获得的会员账号借给他人使用，或者将您的个人信息透露给他人用以蜻蜓白卡网站注册，否则您须承担由此产生的全部责任并与实际使用人承担连带责任；如果您发现任何非法使用您会员账户的情况，请立即通告蜻蜓白卡并向公安机关报案。</p>
<br/>
<p>8、您同意并认可蜻蜓白卡可以通过邮件、短信、电话、微信等形式，向您告知信息。</p>
<br/>
<p>9、蜻蜓白卡不对您发布信息的删除或储存失败负责，蜻蜓白卡有权判定您的行为是否符合蜻蜓白卡网站规则的要求，如果您的行为不符合前述要求，蜻蜓白卡有权终止对您提供会员服务。</p>
<br/>
<p>10、依据国家相关法律法规规章，您同意严格遵守以下义务：</p>

<p class="indent">(1)不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、民族歧视、破坏民族团结的言论；</p>

<p class="indent">(2)从中国大陆向境外传输资料信息时必须符合中国有关法律法规；</p>

<p class="indent">(3)不得利用本网站从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>

<p class="indent">(4)不得干扰本网站的正常运转，不得侵入本网站及国家计算机信息系统；</p>

<p class="indent">(5)不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；
</p>
<p class="indent">(6)不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p>

<p class="indent">(7)不得教唆他人从事本条所禁止的行为；</p>

<p class="indent">(8)不得利用在本网站注册的账户进行牟利性经营活动（如批发、炒货、转卖）；</p>

<p class="indent">(9)不得发布任何侵犯他人著作权、商标权等知识产权及其他合法权利的内容，以及其他违反法律法规、政策及公序良俗、社会公德或干扰蜻蜓白卡网站正常运营内容的信息。蜻蜓白卡保留删除网站内涉嫌违反本会员注册协议、法律法规政策及不真实的信息内容且无须通知您的权利。
</p><br/>
<p>若您未遵守以上规定的，蜻蜓白卡有权做出独立判断并采取暂停会员权限直至注销您的会员账户等措施，并且您须对自己的言论和行为承担法律责任，若因您的不适当行为造成蜻蜓白卡对外承担责任的，蜻蜓白卡有权向您进行追偿。</p>

 
<br/>
<h2>第四条 服务内容说明</h2>
<br/>
<p>1、信用评估：您同意并理解蜻蜓白卡服务根据您提供的真实，有效，完整和最新的注册信息，按照严格，统一的标准化程序，根据您履约能力和履约意愿及责任能力进行科学，合理，公正的评价。您需要按照资料清单要求提供相关资料，如因提交资料不实，不全或不符或不及时， 给信用评估结果带来的一切后果，将由您自行承担。您有权了解信用评估的评审进度及结果。</p>
<br/>
<p>2、提现：您同意并理解本协议及本网站有关规则的约定根据您提供身份信息及账户相关信息实现提现功能。</p>
<br/>
<p>3、代收：您同意并理解本协议及本网站有关规则的约定对出借款项和相关费用进行划扣和支付，并由本公司（蜻蜓白卡服务）代为收取您支付的借款本息及相关费用。</p>
<br/>
<p>4、代付：您同意并理解本协议及有关规则的约定对于借款人的还款，本公司可归集借款人的还款，并代借款人还付给出借人。
</p><br/>
<p>5、提醒和催收：您同意并理解本公司在提供服务过程中，有权根据本协议及本网站相关约定为您按期足额向蜻蜓白卡 服务中相关出借人归还每期应还本金和利息，且支付相关服务费用作出相关提醒。本公司进行上述贷款的还款提醒及催收工作，包括但不限于电话通知、上门通知、发律师函、对您提起诉讼等,并有权授权上述工作给相关方进行。</p>
<br/>
<p>6、 逾期惩罚：若您逾期还款，您同意并理解按照相关约定向蜻蜓白卡服务中的相关方本网站支付逾期罚息并清偿本协议下尚未偿付的全部本金，利息及根据相关本协议产生的全部其他费用。本公司有权将您的“逾期记录”，“恶意行为”或“不良情况”计入公民征信系统，甚至向您的亲属、所在院校、工作单位进行披露。</p>


<br/>
<h2>第五条 授权及其他</h2>
<br/>
<p>1、特别授权：用户授权蜻蜓白卡通过技术手段获取用户信息，包括但不限于通讯录信息、往来电话信息、京东账户信息、淘宝账户信息、学信网学历信息及其他可以用于蜻蜓白卡催收或提交第三方用于用户注册、激活及验证的信息，蜻蜓白卡有义务对获取的用户信息进行保密。
</p><br/>
<p>2、蜻蜓白卡有权通过电话、信函、手机短信、电子邮件、面访或司法渠道等方式自行或委托第三方向用户本人直接催缴欠款，向用户提供给蜻蜓白卡的联系人、近亲属、所在院校、所在工作单位等要求代为转告催缴欠款事宜。在此情况下，蜻蜓白卡有权将必要的用户身份信息及欠款账户信息提供给联系人、亲友、所在院校、工作单位及其他关系人及代偿意愿人,蜻蜓白卡在实现债权过程中发生的所有费用均由用户承担，包括但不限于诉讼费、委托费、律师费等。</p>
<br/>
<p>3、如果用户逾期支付所约定的款项超过30天，或蜻蜓白卡发现用户出现逃避付款、拒绝沟通或者恶意拖欠款项等情形，蜻蜓白卡有权通过一切合法手段维护蜻蜓白卡的合法权益，包括但不限于要求用户向蜻蜓白卡一次性支付余下所有的本金、利息、滞纳金及违约金。
</p>
 
<br/>
<h2>第六条 条款更新及您的关注义务</h2>
<br/>
<p>1、本注册协议包含了您使用会员服务的基本规范，您在使用会员服务时，还需遵循网站公示的具体规范，即网站规则，如网站服务条款、通知公告、操作规则、温馨提示等网站规则；网站规则属于会员注册协议的有机组成部分。
</p><br/>
<p>2、根据国家法律法规变化及网站运营需要，蜻蜓白卡有权修改本会员注册协议，并不定期更新网站规则，一旦前述信息发生变化，蜻蜓白卡将其公示在蜻蜓白卡网站上即生效，并替代原来的条款。您可随时登录蜻蜓白卡会员账户查阅最新会员注册协议条款及网站规则；您有义务不时关注并阅读最新的会员注册协议条款及网站规则，如果您不接受所改动的内容，您可以且应立即停止接受蜻蜓白卡所提供的会员服务；如果您继续使用蜻蜓白卡提供的会员服务，则视为接受会员注册协议条款的变动。如果会员注册协议或网站规则条款中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。
</p>
 
<br/>
<h2>第七条 责任限制</h2>
<br/>
<p>1、除非另有明确的书面说明，蜻蜓白卡及其所包含的或以其它方式通过本站提供给您的全部信息、内容、材料、产品(包括软件)和服务，均是在“按现状”和“按现有”的基础上提供的。</p>
<br/>
<p>2、除非另有明确的书面说明，蜻蜓白卡不对本站的运营及其包含在本网站上的信息、内容、材料、产品(包括软件)或服务作任何形式的、明示或默示的声明或担保(根据中华人民共和国法律另有规定的以外)。</p>
<br/>
<p>3、蜻蜓白卡不担保网站所包含的或以其它方式通过网站提供给您的全部信息、内容、材料、产品(包括软件)和服务、其服务器或从蜻蜓白卡网站系统发出的电子信件、信息没有病毒或其他有害成分，若您发现本网站存在任何安全漏洞，请立即告知蜻蜓白卡，蜻蜓白卡将尽快采取适当措施对漏洞予以修复。</p>
<br/>
<p>4、如因不可抗力或其它本站无法控制的原因使本站销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，蜻蜓白卡会合理地尽力协助处理善后事宜。</p>
<br/>
<p>5、用户在使用蜻蜓白卡服务时，须自行承担如下蜻蜓白卡不可掌控的风险内容，包括但不限于：</p>

<p class="indent">（1）由于受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏等不可抗拒因素可能引起的信息丢失、泄漏等风险；</p>

<p class="indent">（2）用户或蜻蜓白卡的电脑软件、系统、硬件和通信线路出现故障；</p>

<p class="indent">（3）用户操作不当或通过非蜻蜓白卡授权的方式使用蜻蜓白卡服务；</p>

<p class="indent">（4）由于网络信号不稳定等原因，所引起的蜻蜓白卡网站登录失败、资料同步不完整、页面打开速度慢等风险。</p>

<p class="indent">（5）其他蜻蜓白卡无法控制或合理预见的情形。</p>



 
<br/>
<h2>第八条 结束服务</h2>
<br/>
<p>1、蜻蜓白卡可随时根据战略规划或市场行情中断一项或多项服务，除法律另有规定外，蜻蜓白卡无义务对任何个人或第三方负责。您若反对任何会员注册协议条款或对后来的会员注册协议条款修改有异议，或对蜻蜓白卡的服务不满，您可以行使如下权利：</p>

<p class="indent">(1)不再使用蜻蜓白卡会员服务；</p>

<p class="indent">(2)通知蜻蜓白卡停止对您提供服务。会员服务终止后，您使用蜻蜓白卡网站服务的权利马上终止。从那时起，蜻蜓白卡没有义务传送或提供您使用会员服务所形成的信息资料给您或第三方。</p>
<br/>
<p>2、出现以下情况时，蜻蜓白卡有权直接以注销会员账户的方式终止本注册协议，并有权永久冻结或注销您的账户在蜻蜓白卡网站权限，并收回会员账户对应的会员昵称：</p>

<p class="indent">(1)蜻蜓白卡认为您通过该会员账户购物后从事转售业务的（从事批发、零售等）；</p>

<p class="indent">(2)您提供的手机或电子邮箱等联系方式无法接收信息或实际不存在，且没有其他方式可以与您进行联系的；</p>

<p class="indent">(3)您提供的用户信息中的内容不真实或不准确或不完整的；</p>

<p class="indent">(4)会员注册协议及网站规则变更时，您明示并通知蜻蜓白卡不愿接受该等变更的；</p>

<p class="indent">(5)因其他原因，蜻蜓白卡决定终止为您提供会员服务的。</p>
<br/>
<p>3、因您违反本注册协议的规定而导致蜻蜓白卡、蜻蜓白卡或其他第三方损失的，您同意予以全额赔偿，该等损失包括但不限于律师费、诉讼费、直接损失、间接损失等。</p>
<br/>
<p>4、如果您停止使用蜻蜓白卡会员服务或服务被终止或取消，蜻蜓白卡可以从服务器上永久地删除您的数据。在服务停止、终止或取消后，蜻蜓白卡没有义务向您返还任何数据。</p>

 
<br/>
<h2>第九条 适用法律及争议解决</h2>
<br/>
<p>本会员注册协议适用中华人民共和国大陆地区适用之有效法律。如发生本注册协议或网站规则与中华人民共和国法律相抵触，则这些内容将完全按法律规定重新解释，而其它条款则依旧保持对您的约束力。若您和蜻蜓白卡就会员注册协议的订立和履行等事宜产生争议的，应当友好协商解决，协商不成的，您和蜻蜓白卡均有权就相关争议向河南省郑州市人民法院提起诉讼。
</p>

<br/>
<h2>第十条 其他</h2>
<br/>
<p>1、未经蜻蜓白卡网站运营方河南自由蜻蜓网络科技有限公司书面许可，任何单位和个人不得将蜻蜓白卡网站信息全部或部分复制、转载、引用、抓取或以其他方式进行营利性使用，若因您的行为给蜻蜓白卡网站造成损害，蜻蜓白卡网站将通过法律途径追索经济赔偿。
</p><br/>
<p>2、本协议内容中以加粗等特殊方式标明的文字或条款提示您着重阅读。</p>
<br/>
<p>3、本协议签订地为河南省郑州市。</p>
<br/>
<p>4、本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
<br/>


<p style="font-weight:bold;">温馨提示：在点击同意本协议前，请您确认已完全理解并同意本注册协议的内容</p>








</div>
</body>
</html>
