<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no,maximum-scale=1.0, minmum-scale=1.0"/>
<title>信息收集及使用规则</title>
<style>
h2, h1 {
	color: #45b7fd;
}
h2, h1, p {
	margin: 0;
	padding: 0;
}
h1 {
	text-align: center;
}
.indent {
	text-indent: 2em;
}
.ma-top {
	margin-top: 40px;
}
</style>
</head>

<body>
<div style="margin:30px;">
  <h1>信息收集及使用规则</h1>
  <br/>
  <p>鉴于“网络借贷中介信息服务”（下称服务）的特殊性，为构建健康有序的网络借贷环境，遏制和打击“骗贷”行为，保障借贷双方的合法权益。蜻蜓白卡（下称蜻蜓白卡或我们）在提供产品或服务时会收集并使用您（即用户，下同）的个人信息，如您拒绝我们收集或使用您的个人信息，请立即终止使用本服务，并立即告知我们（邮箱service@qingtingkeji.com.cn），如您继续使用或未及时向我们告知，即视为您同意蜻蜓白卡收集并使用您的个人信息。</p>
  <br/>
  <h2>一、信息收集</h2>
  <p class="ma-top">1. 您向蜻蜓白卡提供的信息。</p>
  <p class="indent">为了向您提供更好的用户服务,蜻蜓白卡会在您自愿选择服务或提供信息的情况下系统自动存储注册信息。请您在注册、使用时及时、详尽及准确的提供个人资料，并不断更新注册资料。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，由您自行承担相应的后果。请您不要将您的帐号、密码转让或出借予他人使用。如您发现您的帐号遭他人非法使用，应立即通知蜻蜓白卡。互联网上不排除因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，此类情况与蜻蜓白卡无关。</p>
  <p class="ma-top">2. 基于提供服务的前提，您授权我们收集的信息。在此，您同意并授权我们收集您的下述信息：</p>
  <p class="indent">1) 您的身份信息；</p>
  <p class="indent">2) 您的手机号码之通话、使用、消费记录及实名制等信息；</p>
  <p class="indent">3) 您的银行卡信息；</p>
  <p class="indent">4) 您的个人征信信息；</p>
  <p class="indent">5) 其他有助于我们对您的信用状况进行评估的信息（如学信网、支付宝、QQ等，我们在收集时会提醒您再次授权，如您不希望我们收集和使用该条项下的信息，请您在收到提醒时选择拒绝授权）。</p>
  <p class="ma-top">3. 您授权第三方收集并同意该第三方向我们提供的信息。</p>
  <p class="indent">包括但不限于您同意并授权“北京黑格科技有限公司”收集并向我们提供“您的手机号码之通话、使用、消费记录及实名制等信息”。</p>
  <p class="ma-top">4. 因您使用产品或服务时获取的信息。</p>
  <p class="indent">1) 日志信息。当您使用蜻蜓白卡服务时，服务器会自动记录一些信息，例如您对我们服务的使用情况、IP地址、所访问服务的URL、浏览器的类型和使用的语言以及访问日期和时间等。</p>
  <p class="indent">2) 设备信息。某些产品和/或服务包含唯一应用程序编号。当您安装、激活、更新、卸载相关服务或当这些服务定期与蜻蜓白卡通信（例如软件的更新）时，系统会将此编号以及与安装相关的信息（例如操作系统类型和应用程序版本号）发送给蜻蜓白卡。</p>
  <p class="indent">3) 当您使用具有定位功能的蜻蜓白卡服务时，系统会自动处理有关设备的位置信息，以便蜻蜓白卡判断您在申请借款时的实际地理位置。</p>
  <p class="indent">4) 为了提供更好的服务与改善用户体验，蜻蜓白卡可能会记录硬件型号、操作系统版本号、国际移动设备身份码（IMEI）、网络设备硬件地址（MAC）等信息。</p>
  <p class="indent">5) Cookie和匿名标示符等工具。cookie主要的功能是便于您使用网站产品和/或服务，以及帮助网站统计独立访客数量等。运用cookie技术，蜻蜓白卡能够为您提供更加周到的个性化服务，并允许您设定您特定的服务选项。</p>
  <br/>
  <h2>二、信息使用</h2>
  <p class="ma-top">1. 基于提供服务的前提，我们将自行或委托第三方机构对您的个人信息进行评估，以判断您是否能进一步的获得借款服务。</p>
  <p class="ma-top">2. 披露给为您提供借款的相对方，以便该相对方对借款债权加以记录和管理。</p>
  <p class="ma-top">3. 在您获得借款服务且存在违约的情况下，我们将向第三方机构（包括但不限于专业的催收机构、律师事务所、审计事务所、司法机关、征信机构及您提供的联系单位和联系人等）提供您的个人信息并保证该第三方机构仅限于为催促您尽快履约之目的使用。</p>
  <p class="ma-top">4. 蜻蜓白卡会以高度的勤勉义务对待这些信息，除非事先获得您的授权或本声明另有规定外，不会将这些信息对外公开或向第三方提供（蜻蜓白卡关联公司除外）。</p>
  <p class="ma-top">5. 蜻蜓白卡可能会对产品/服务使用情况进行统计。同时，蜻蜓白卡可能会与公众分享这些统计信息，以展示我们服务的整体使用趋势。这些统计信息不包含您的任何身份识别信息。</p>
  <p class="ma-top">6.在如下情况下，蜻蜓白卡可能会披露您的信息：</p>
  <p class="indent">（1）事先获得您的授权；</p>
  <p class="indent">（2）您使用共享功能；</p>
  <p class="indent">（3）根据法律、法规、法律程序的要求或政府主管部门的强制性要求；</p>
  <p class="indent">（4）以学术研究或公共利益为目的；</p>
  <p class="indent">（5）为维护蜻蜓白卡的合法权益，例如查找、预防、处理欺诈或安全方面的问题；</p>
  <p class="indent">（6）符合相关服务条款或使用协议的规定。</p>
  <br/>
  <h2>三、信息安全</h2>
  <p class="ma-top">蜻蜓白卡非常重视信息安全，在蜻蜓白卡，有专门的负责团队，研发和应用多种安全技术和程序等，通过这些严格措施努力保护您的信息不被未经授权的访问、使用或泄漏。</p>
</div>
</body>
</html>
