 <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
           <form action="__URL__/alter?user_name=<?php echo $_GET['user_name'] ?>" method="post" enctype="multipart/form-data">
           <input type="text" name="pay">
           <br/>
           <input type="submit" value="保存">
           </form>             
               
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
    <script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
    <script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
</html>