
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
               <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>已还款:<span style="color: red">{$count}</span>笔</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                                <thead>
                                <tr>
                                    <th>注册手机号</th>
                                    <th>用户名</th>
                                    <th>持卡人姓名</th>
                                    <th>银行卡号</th>
                                    <th>银行卡预留手机号</th>
                                    <th>身份证号</th>
                                    <th>借款时间</th>
                                    <th>还款时间</th>
                                    <th>借款金额(实际打款)</th>
                                    <th>还款金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <volist name="info" id="vo">
                                        <tr>
                                            <td>{$vo['user_name']}</td>
                                            <td>{$vo['u_name']}</td>
                                            <td>{$vo['bank_name']}</td>
                                            <td>{$vo['bank_card']}</td>
                                            <td>{$vo['bank_tel']}</td>
                                            <td>{$vo['identity']}</td>
                                            <td>{$vo['request_time']|date="Y-m-d H:i",###}</td>
                                            <td>{$vo['repayment_time']|date="Y-m-d H:i",###}</td>
                                            <td>{$vo['pay_money']}元</td>
                                            <td>{$vo['repayment_money']}元</td>
                                        </tr>
                                    </volist>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
<div class="pagination">{$page}</div>
                        </div>
                    </div>
                </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
    <script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
    <script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
</html>
