 
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
               <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" id="sumtext">
                            <h5>已放款:<span style='color: red'></span>{$sum.ren}人</h5>
                            <h5 style='margin-left:50px;'>放款总和:<span style='color: red;'></span>{$sum['sum_money']}元</h5>
                           <!--  <h5 style='margin-left:50px;'>到期应还总和:<span style='color: red;'></span>{$sum['shouxufei']+$sum['sum_money']}元</h5> -->
                            <if condition="($psun neq 0)">
                            <h5 style='margin-left:50px;'>新用户数量:<span style='color: red;'></span>{$psun}人</h5>
                            <h5 style='margin-left:50px;'>新用户金额:<span style='color: red;'></span>{$pmoney}元</h5>
                            <else />
                            </if>
                            <a href="{:U('Home/already/otain')}" style="float: right;"><button>逾期汇报</button></a>
                            <a href="look" style="float: right;"><button>卡升级</button></a>
                            <a style="float:right;" href="{:U('Home/already/export')}"><button>导出</button></a>
                        </div>
                        <div class="ibox-title">
                            <form action="{:U('Home/Already/search')}" method="post" style="float: left; margin-right: 0px;">
                                <input type="text" name="name" placeholder="请输入手机号或姓名">
                                <input type="hidden" name="code" value="search">
                                <input type="submit" value="提交">
                            </form>

                            <form action="{:U('Home/Already/expire')}" method="post" style="float: left; margin-right:0px;" >
                                <input placeholder="开始时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="start">
                                <input placeholder="结束时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="end">
                                <input type="submit"  value="到期时间查找">
                            </form>

                             <form action="{:U('Home/Already/search')}" method="post" style="float: right; margin-right:0px;" >
                                <input placeholder="开始时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="start">
                                <input placeholder="结束时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="end">
                                <input type="hidden" name="code" value="lending">
                                <input type="submit"  value="放款时间查找">
                            </form>

                            <form action="{:U('Home/Already/statistical')}" method="post" style="float: left; margin-right:0px;" >
                                <input placeholder="开始时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="start">
                                <input placeholder="结束时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="end">
                                <input type="submit"  value="生成记录">
                            </form>
                            </div>
                            <div class="ibox-title"> 
                                <a href="__URL__/cuts_interest"><button>查看降息</button></a>
                            </div> 
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>姓名</th>
                                    <th>身份证</th>
                                    <th>手机号</th>
                                    <th>放款时间</th>
                                    <th>系统时间</th>
                                    <th>放款额度</th>
                                    <th>借款期限</th>
                                    <th>到期时间</th>
                                    <th>是否续期</th>
                                    <th>到期应还款</th>
                                    <th>应还款</th>
                                    <th>订单编号</th>
                                    <th>借款次数</th>
                                    <th>芝麻分</th>
                                    <th>征信</th>
                                    <th>借款状态</th>
                                    <th>分期</th>
                          
                                </tr>
                                </thead>
                                <tbody>
                                <foreach name="loan_data" item="v" key="k">
                                <tr>
                                    <td>{$k+1}</td>
                                    <td>{$v['u_name']}</td>
                                    <td>{$v['identity']}</td>
                                    <td>{$v['user_name']}</td>
                                    <td>{$v['is_pay']|date="Y-m-d H:i",###}</td>
                                    <td>
                                        <if condition="($v['is_pays']) eq null">
                                            小暑之前
                                        <else />
                                            {$v['is_pays']|date="Y-m-d H:i",###}
                                        </if>
                                    </td>
                                    <td>{$v['loan_amount']}元 </td>
                                    <td>{$v['loan_time']}天</td>
                                    <td>{$v['be_time']|date="Y-m-d H:i",###}</td>
                                    <td>
                                        <if condition="($v['renewal_days'] eq 0)">
                                            未续期
                                        <else/>
                                            {$v['renewal_days']}天
                                        </if>
                                    </td>
                                    <td>{$v['loan_amount']+$v['loan_amount']*$v['interest']-$v['cuts_interest']}</td>
                                    <td>+<span style="color:red">{$v['overdue_money']}</span>={$v['loan_amount']+$v['loan_amount']*$v['interest']+$v['overdue_money']-$v['cuts_interest']}</td>
                                    <td>{$v['loan_order']}</td>
                                    <td>{$v['loan_num']}</td>
                                    <td>{$v['zm_score']}</td>
                                    <td>
                                        <a href="{:U('Home/Survey/index',array('id'=>$v['user_name'],'open_id'=>$v['open_id']))}"><button>征信</button></a> 
                                        <a href="{:U('Home/apix/tel',array('id'=>$v['user_name']))}"><button>通讯</button></a> 
                                        <a href="{:U('Home/apix/taobao',array('id'=>$v['user_name']))}"><button>淘宝</button></a> 
                                    </td>
                                    <td>
                                        <a href="{:U('Home/Already/zfb_pay',array('id'=>$v['loan_id']))}"><button>还款</button></a> 
                                    </td>
                                    <td><a href="{:U('Home/Already/stages',array('order'=>$v['loan_order']))}"><button>分期</button></a></td>

                                </tr>
                                </foreach>
                                </tbody>
                            </table>
                            <div class="pagination">{$page}</div>
                        </div>
                    </div>
                </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
    <script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
    <script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate
});
</script>
</html>
