<!doctype html>
<html>
   <head>
   
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
   <title>网站</title>
   <script type="text/javascript" src="__ROOT__/Public/mobile/js/jquery-1.11.1.js"></script>
   <link href="__ROOT__/Public/mobile/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>   
<div style="margin-top:10px;"><img src="__ROOT__/Public/mobile/images/card.jpg" style="width:70%; margin:0 auto;"/></div>

 <span>河南自由蜻蜓网络科技有限公司</span>  <a href="http://www.miitbeian.gov.cn">豫ICP备17009736号</a> 
</body>
</html>






