<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no,maximum-scale=1.0, minmum-scale=1.0"/>
<title>授权扣款委托书</title>
<style>
p{ padding:0; margin:0;}
.indent{ text-indent:2em; font-weight:bold;}
</style>
</head>

<body style="margin:0; padding:0; font-size:18px;">
<div style=" margin:30px;">

<p style="text-align:center; font-size:36px; font-weight:bold;">授权扣款委托书</p>
<br/>
<p>授权人：订单提交后才可查看</p>
<p>被授权人：河南自由蜻蜓网络科技有限公司</p>
<br/>
<p>授权人同意并签署本授权委托书，在此通过本授权委托书作出如下授权与承诺：</p>
<br/>
<p>一、授权人同意并授权被授权人针对授权人通过使用被授权人运营的网络平台（以下简称“被授权人平台”）发起的所有借款项目（包括本授权委托书生效之前及其之后的借款项目，具体以授权人签订的各《借款协议》、《平台服务协议》为准），协同被授权人指定的第三方银行或第三方支付机构（以下简称“被授权人指定第三方”）从授权人通过本授权委托书指定银行卡（银行卡账户信息见第十五条）进行资金的代扣、代还、代付及划转各《借款协议》、《平台服务协议》项下的应付款项。</p>
<br/>
<p>二、授权人同意，在各《借款协议》及《平台服务协议》生效后，被授权人及被授权人指定第三方有权依照各《借款协议》及《平台服务协议》约定的期限和金额代扣授权人指定银行卡账户中的相应资金。</p>
<br/>
<p>三、本授权委托书项下的应付款项包括但不限于授权人通过使用被授权人平台发起的全部借款，支付顺序依次：</p>
<p class="indent">1、没有逾期的，还款顺序依次为当期的居间服务费、利息、本金；</p>
<p class="indent">2、选择提前结清的，一次性全额还款；</p>
<p class="indent">3、逾期仅有一期的，还款顺序依次为实现债权的费用、逾期管理费、居间服务费、利息、本金；逾期仅有一期的，还款顺序依次为实现债权的费用、逾期管理费、居间服务费、利息、本金；</p>
<p class="indent">4、逾期多期的，优先偿还逾期在先的各期应还款项，各期应还款项的还款顺序为实现债权的费用、逾期管理费、居间服务费、利息、本金。</p>
<p class="indent">5、宣告提前到期的，</p>
<p class="indent">（1）宣告提前到期当期之前已经产生的各期逾期管理费，以及各期的居间服务费、利息、本金；</p>
<p class="indent">（2）宣告提前到期当期的居间服务费、利息、本金；</p>
<p class="indent">（3）宣告提前到期当期之后的全部剩余本金。</p>
<p class="indent">（4）如甲方未能与宣告提前到期当日偿还如上全部应还款金额，则处上述应还款金额外，还须自宣告提起到期之日后第一日起向丙方支付逾期管理费，具体以甲方与丙方签订的《平台服务协议》为准，并优先于宣告到期后应支付的其他款项支付。</p>
<br/>
<p>四、授权人承诺，本授权委托书第十五条记载的授权银行卡账户是以本人真实姓名开立的合法、有效的银行卡账户，授权人同意本授权委托书第一条、第二条约定的资金代扣及转账优先于该账户其他任何用途的支付。</p>
<br/>
<p>五、授权人同意，在借款成功后，如因银行、第三方支付等任何原因导致被授权人及被授权人指定第三方无法将款项代还至授权指定的银行卡账户中，由此引起的任何后果，由授权人承担。</p>
<br/>
<p>六、授权人知悉被授权人及被授权人指定第三方对此项资金代扣、代还、代付及划转服务不收费，被授权人及被授权人指定第三方会尽其最大努力及时完成此项资金划转服务，但被授权人不对此项服务作任何永久性承诺。与本授权委托书项下的资金代扣、代还、代付及划转服务相关的任何责任，与被授权人及被授权人指定第三方无关，被授权人及被授权人指定第三方亦无义务承担。</p>
<br/>
<p>七、授权人在指定银行卡账户中必须留有足够余额，否则因账户余额不足或不可归责于被授权人的任何事由，导致无法及时扣款或扣款错误、失败，责任由授权人自行承担。余额不足的，授权人知悉并同意被授权人会就授权人全部应还款项持续进行代扣，直至授权人还清全部应还款项。</p>
<br/>
<p>八、各《借款协议》的出借人按照相关协议约定和被授权人平台规则转让各《借款协议》项下的债权的，不影响本授权委托书的有效性。</p>
<br/>
<p>九、授权人针对授权人指定的银行卡账户向被授权人进行授权后，即视为授权人就该银行卡在授权人通过被授权人平台发起的所有借款项目范围内进行了授权，不因授权人后续更换绑定银行卡，或对其他银行卡进行授权而无效或产生任何影响。</p>
<br/>
<p>十、本授权委托书为授权人对被授权人从其授权的指定账户中扣款和/或向该账户转账的授权证明，不作为收付现金的直接凭据。</p>
<br/>
<p>十一、凡本授权委托书中未约定的事项，适用各《借款协议》、《平台服务协议》的约定，凡本授权委托书中出现的与各《借款协议》、《平台服务协议》相同的词语或术语，如果在本授权委托书中无特别定义，适用各《借款协议》、《平台服务协议》中相同词语和术语的定义、涵义或解释，本授权委托书的规定与各《借款协议》、《平台服务协议》不一致的，以本授权委托书的规定为准。</p>
<br/>
<p>十二、授权人发起终止授权或变更账户、通讯地址时，在当期款项支付日2个工作日前通知被授权人并完成信息更新，否则自行承担所造成的风险损失。</p>
<br/>
<p>十三、授权人保证本授权委托书的真实性、合法性、有效性，被授权人依据本授权委托书进行的操作引起的一切法律纠纷或风险，由授权人独立承担或解决。</p>
<br/>
<p>十四、本授权委托书自授权人确认同意起生效，至授权人通过被授权人平台签订的全部《借款协议》、《平台服务协议》履行完毕，所有款项全部还清时终止。</p>
<br/>
<p>十五、授权人资料：</p>

<p>姓名订单提交后才可查看</p>
<p>（以下无正文）</p>
<br/>
<p>授权人：订单提交后才可查看</p>
<p>被授权人：河南自由蜻蜓网络科技有限公司</p>
<br/>
<p>2017年07月08日</p>

</div>
</body>
</html>
