
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>                 
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>征信记录表</h5>
                    <div style="float:right"> 
                        <form action="{:U('Home/Credit/credit')}" method='get' style="">
                            <input type="text" id="s" value="" name="id" placeholder="请输入用户名" style="width:200px"/>
                            <input type="submit" value="查询" />
                        </form>
                    </div>
                </div>
                         <div class="ibox-title">  
                            <form action="{:U('Home/Credit/export')}" method="post" >
                                <input placeholder="开始时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="start">
                                <input placeholder="结束时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="end">
                                <input type="submit"  value="导出">
                            </form> 
                            </div>
                <div class="ibox-content">

                    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align:center; font-size:16px;">银行卡四要素</th>
                            <th colspan="3" style="text-align:center; font-size:16px;">身份证三要素</th>
                            <th colspan="2" style="text-align:center; font-size:16px;">紧急联系人两要素</th>
                            <th>查询日期</th>
                            <th>申请欺诈分</th>
                            <th>芝麻分</th>
                            <th>行业关注名单</th>
                            <th>欺诈关注清单</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="creditInfo" id="vo">
                                  <tr >
                                        <td>{$vo['cbank_tel']}</td>
                                        <td>{$vo['cu_name']}</td>
                                        <td>{$vo['cidentity']}</td>
                                        <td>{$vo['cbank_card']}</td>
                                        <td>{$vo['cu_name']}</td>
                                        <td>{$vo['cidentity']}</td>
                                         <td><a href="__ROOT__/index.php/Home/Examine/credit?id={$vo['cuser_name']}&open_id={$vo['open_id']}">{$vo['cuser_name']}</a></td>
                                        <td>{$vo['clinkman_name']}</td>
                                        <td>{$vo['clinkman_tel']}</td>
                                        <td>{$vo['create_time']|date="Y-m-d H:i",###}</td>
                                        <td>{$vo['ivs_score']}</td>  
                                        <td>{$vo['zm_score']}</td>
                                        <td> 
                                            <if condition="($vo['is_matched'] eq 1)">
                                                在欺诈名单中
                                            <elseif condition="($vo['is_matched'] eq 0)"/>
                                                不在欺诈名单中
                                            </if>
                                        </td>
                                        <td>
                                            <if condition="($vo['hit'] eq yes)">
                                                是
                                                <elseif condition="($vo['hit'] eq no)" />
                                               否
                                                </if>
                                        </td>
                                       
                                </tr>
                                <tr>
                                        <td>{$vo['tel_a']}</td>
                                        <td>{$vo['u_name_a']}</td>
                                        <td>{$vo['identity_a']}</td>
                                        <td>{$vo['bank_card_a']}</td>
                                        <td>{$vo['u_name_a1']}</td>
                                        <td>{$vo['identity_a1']}</td>
                                        <td>{$vo['user_name_a']}</td>
                                        <td>{$vo['linkman_name_a']}</td>
                                        <td>{$vo['linkman_tel_a']}</td>
                                        
                                </tr>
                                <tr>
                                    <td>欺诈关注详情</td>
                                    <td colspan="13">{$vo['hit_detail']}</td>
                                </tr>
                                <tr>
                                    <td>行业关注名单详情</td>
                                    <td colspan="13">{$vo['focus_detail']}</td>
                                </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="pagination" style="margin: 0; padding: 0; ">{$page}</div>
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate
});
</script>
</html>