
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>黑名单</h5>
                    <h5 style="margin-left:50px;">人数总和:<span style="color: red;">{$count}</span>人</h5>
                </div>
                <div class="ibox-title">  
                <div class="ibox-content">
                <form action="{:U('Home/Overdue/blackList')}" method="post">
                    添加人的身份证号：<input type="text" name="identity" style="width:180px;">
                    <input type="submit" value="确认">
                </form>
                </div>
                <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>手机号(用户名)</th>
                            <th>身份证号</th>
                            <th>用户名</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="info" id="vo" key="k">
                            <tr>
                                <td>{$k}</td>
                                <td>{$vo['user_name']}</td>
                                <td>{$vo['identity']}</td>
                                <td>{$vo['u_name']}</td>
                            </tr>
                        </volist>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                        <div class="pagination">{$page}</div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate
});
</script>
</html>
