
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">

                    <h5>已过容时期列表</h5>
                     <h5 style="margin-left:50px;">共计:<span style="color: red">{$sum}</span>人</h5>
                     <h5 style="margin-left:50px;">逾期本金合计:<span style="color: red">{$money_sum}</span>元</h5>
                     <h5 style="margin-left:50px;">逾期利息合计:<span style="color: red">{$heji_money}</span>元</h5>
                     <h5 style="margin-left:50px;">逾期费用合计:<span style="color: red">{$overdue_sum_money}</span>元</h5>
                  <a style="float:right; margin-left: 30%;" href="{:U('Home/Overdue/five_day')}"><button>五天短信模板</button></a>
                  <a style="float:right;" href="{:U('Home/Overdue/send_note')}"><button>五天之后短信模板</button></a>
                </div>
                </form>
                        <div class="ibox-title">  
                            <form action="{:U('Home/Overdue/index')}" method="post" >
                                <input placeholder="开始时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="start">
                                <input placeholder="结束时间" required type="text" id="layui-laydate-input" onclick="layui.laydate({elem: this})" class="layui-input" name="end">
                                <input type="submit"  value="查找">
                            </form> 
                            <a style="float:right;" href="{:U('Home/Overdue/export_pre')}"><button>导出</button></a>
                <div class="ibox-content">

                    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>手机号(用户名)</th>
                            <th>持卡人姓名</th>
                            <th>银行卡绑定手机号</th>
                            <th>身份证号</th>
                            <th>银行卡号</th>
                            <th>借款金额</th>

                            <th>打款时间</th>
                            <th>借款期限</th>

                            <th>到期时间</th>
                            <th>逾期天数</th>
                            <th>本息</th>
                            <th>逾期费用</th>
                            <th>紧急联系人</th>
                            <th>紧急联系人电话</th>
                            <th>催收短信</th>
                            <th>微信催收<th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="arr" id="vo" key="k">
                                    <tr>
                                        <td>{$k}</td>
                                        <td>
                                            <a href="__ROOT__/index.php/Home/Examine/credit?id={$vo['user_name']}&open_id={$vo['open_id']}">{$vo['user_name']}</a>
                                        </td>
                                        <td>
                                            <if condition="$vo['open_id'] == '' ">
                                                {$vo['bank_name']}
                                            <else/>
                                            <a href="__ROOT__/index.php/Home/amuser/user?open_id={$vo['open_id']}">
                                                {$vo['bank_name']}
                                            </a>
                                            </if>
                                        </td>
                                        <td>{$vo['bank_tel']}</td>
                                        <td><a href="__ROOT__/index.php/Home/Overdue/zhengxin?user_id={$vo['user_id']}">{$vo['identity']}</a></td>
                                        <td>{$vo['bank_card']}</td>
                                        <!-- 打款金额 -->
                                        <td>{$vo['loan_amount']}元</td>
                                        <td>{$vo['is_pay']|date="Y-m-d H:i",###}</td>

                                        <td>
                                            <span 
                                             <if condition="($vo['loan_time'] eq 7)">
                                             style="color:#0000FF"
                                             <elseif condition="($vo['loan_time'] eq 14)" />
                                             style="color:#009900"
                                             </if>
                                            >
                                               {$vo['loan_time']}天
                                            </span>
                                            <if condition="($vo['renewal_days'] neq '') AND ($vo['renewal_days'] neq 0)">
                                               <span style="color:#990000">+{$vo['renewal_days']}天</span>
                                            </if>
                                        </td>
                                        <!-- 到期时间 -->
                                        <td>
                                            {$vo['due_time']|date="Y-m-d H:i",###}
                                        </td>

                                        <td>{$vo['day']}天</td>
                                        <td>{$vo['shouxufei']+$vo['loan_amount']}</td>
                                        <td>
                                            <if condition="($vo['overdue_money'] neq '') AND ($vo['overdue_money'] neq -0)">
                                            <span style="color:red">{$vo['overdue_money']}元</span> 
                                            <else/>
                                            </if>
                                        </td>
                                        <td>{$vo.linkman_name}</td>
                                        <td>{$vo.linkman_tel}</td>
                                        <td>
                                            <if condition="($vo['query_message'] eq 1)">
                                            已发
                                            <else/>
                                            未发
                                            </if>
                                        </td>
                                       <td>
                                        <if condition="$vo['open_id'] == '' ">

                                            <else />
                                            <a href="__ROOT__/index.php/Home/message/index?open_id={$vo['open_id']}&user_name={$vo['user_name']}">发送</a>
                                        </if>
                                        </td>


                                </tr>
                                </volist>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="pagination">{$page}</div>
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate
});
</script>
</html>
