
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <volist name="arr" id="vo" key="k">
                        <p id='{$vo.user_name}'>{$vo.note}</p><input type="button" value="标记{$vo.day}" name="item" id="{$vo.mobile}">
                        <div style="float:left">{$vo.tel}</div>
                        <br/>
                        <br/>
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script type="text/javascript">
    $("input[name=item]").click(function(){
        var id=$(this).attr("id");
        var day=$(this).val();
        var user_name='u'+id.substr(1);
        var p_str=$("#"+user_name+"").html();
        var new_day=day.substr(2);
        $(this).css('color','red');
        $.ajax({
            url:'__URL__/note_ajax',
            type:'POST',
            dataType:'json',
            data:{id:id,day:new_day},
            success:function(data){
                $("#"+user_name+"").html(""+p_str+""+data+"");
            }
        });
    });
</script>
</html>
