@charset "utf-8";
/* CSS Document */
/*共同样式*/
* {margin:0; padding:0;}
.bb{ border:#F00 1px solid;}
body {color:#000; background:#eee; font-family: Verdana, 
Arial, sans-serif; font-size: 12px; text-align:center;
font-family:"Microsoft YaHei",微软雅黑;
  }
textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;}
a {color:#333; text-decoration:none;}
a:hover {color:#F00;}
.qing { clear:both; height:0px; width:100%; font-
size:1px; line-height:0px; visibility:hidden; 
overflow:hidden; }
/*共同样式 end*/
body {color:#333; background:#f2f2f2;}

/*bor{ width:1090px; height:1930px; padding:5px; background:#eee; margin:0 auto;}*/
.top{ width:100%; height:614px; background-color:#233947; overflow:hidden;}
.card{ width:910px; height:536px;  
margin:0 auto;margin-top:20px; border-radius:16px; overflow:hidden;}
.card_li{ width:100%; height:46px; margin-top:24px; background:#217fc5; font-size:28px; 
color:#7bd8ff; line-height:46px; text-align:left; padding-left:55px; visibility:hidden;}
.card_name{ font-size:48px; color:#fff; margin-top:36px; text-align:left; 
margin-left:55px; visibility:hidden;}
.card_edu{ font-size:36px; color:#177bbf; text-align:right; margin-right:55px;}
.card_xpian img{ float:left; margin-left:55px; visibility:hidden;}
.card_xpian p{ float:right; margin-right:55px; font-size:84px; color:#fff; font-family:Arial, Helvetica, sans-serif; margin-top:20px;}
.card_ul{}



.card_num{width:92%; height:72px; padding-top:54px; margin-top:0px;
 margin:0 auto; overflow:hidden;}
.card_num li{ width: 25%;  font-size:64px;  line-height:72px; float:left;  
 text-align: center;}




.card_valid{ font-size:34px; color:#177bbf; font-family:Arial, Helvetica, sans-serif; 
text-align:left; margin-left:8%; margin-top:8px;}
/*.card_tie{ background-color:#237ec8; width:420px; height:48px; border-radius:12px; 
float:right; margin-right:152px; margin-top:-34px; font-size:34px; color:#76d3f8; line-height:48px;}*/
/* card  end------------------------------------*/

.apple a{display:block; text-decoration:none;}
.apple{ width:92%; height:100px; overflow:hidden; margin:0 auto;}
.apple a{ width:100%; height:100px; line-height:100px; text-indent:20px; 
color:#f90; font-size:36px; text-align:left;}
/* apple  end------------------------------------*/

.cont{ width:92.2%; height:800px; background:#ffffff; margin:0 auto; border-radius:8px;}


.time{ width:93.9%; height:84px; margin:0 auto; margin-top:84px;}
.time p{ font-size:42px; color:#333; line-height:84px; float:left; text-align:left;}
.shijian{ width:600px; float: right;}
.shijian label{ width:216px; height:84px; line-height:84px; float:right; margin-left:30px;}
.shijian label input{ display:none;}
.shijian label .blue{ float:left; width:100%; height:84px; background-color:#45b7fd; color:#fff; border-radius:16px;}
.shijian .blue p{width:100%; height:84px; text-align:center; font-size:36px; color:#fff;}
.shijian label .white{ float:left; width:100%; height:84px; border-radius:16px;border:2px solid #45b7fd;}
.shijian .white p{width:100%; height:84px; text-align:center; font-size:36px; color:#333;}
/* time  end------------------------------------*/
.jine{ width:93.9%; height:74px; margin:0 auto; margin-top:52px;}
.jine_l{ font-size:42px; color:#333; float:left; line-height:74px;}
.jine_l span{font-size:42px; color:#45b7fd; }
.jine_r{ font-size:42px; color:#333; float:right; line-height:74px;}
.jine_r span{font-size:42px; color:#45b7fd; }


.feiy{ width:93.9%; height:74px; margin:0 auto;}
.feiy_l{ font-size:42px; color:#333; float:left; line-height:74px;}
.feiy_l span{font-size:42px; color:#45b7fd; }
.feiy_r{ font-size:42px; color:#333; float:right; line-height:74px;}
.feiy_r span{font-size:42px; color:#45b7fd; }
/*.feiy_l input{ width:36px; height:36px; border-radius:18px; font-size:30px; 
color:#45b7fd; border:none; background:none; border:2px solid #45b7fd;}*/

.submit input{ width:93.9%; height:130px; border-radius:60px;
 background-color:#45b7fd; margin:0 auto; margin-top:80px; border:none;}
.submit input{ font-size:42px; color:#fff; line-height:130px; 
font-family:"Microsoft YaHei",微软雅黑;}



.dianji {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
    height:100% ;
    zoom: 1;
	background-color: #666;
	z-index: 999;
	filter: alpha(opacity=30); /*IE滤镜，透明度30%*/
	-moz-opacity: 0.3; /*Firefox私有，透明度30%*/
	opacity: 0.3;/*其他，透明度30%*/
}
.yincang {
	display: none;
	background: #fff;
	
	margin:0 auto;
	text-align:center;
	width:80.3%;
	height:500px;
	border-radius:10px;
	
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999999
}

.yincang p{ font-size:42px; color:#111; text-align:center; line-height:138px;
 border-bottom:2px solid #eee;}
.yincang .ent{ width:90.2%; margin:0 auto; font-size:36px; color:#333; line-height:58px; 
text-align:center; margin-top:26px;}
.yincang .anjian{
	width:92.8%;
	height:132px;
	margin: 0 auto;
	margin-top: 58px;
}
.yincang .anjian input{
	width:100%;
	font-family:"Microsoft YaHei",微软雅黑;
	height: 132px;
	line-height:132px;
	font-size:48px;
	border: none;
	border-radius:6px;
	background-color: #45b7fd;
	color: #fff;
}




/* cont  end------------------------------------*/
.content{ width:100%; background:#fff;}
.con_list li{ width:92.2%; height:220px; margin:0 auto; overflow:hidden;}

.con_list01{ background:url(../images/jiek_03.png) no-repeat;
 background-position:23px -100px;   }
.con_li01_l{ width:48px; height:50px; background:#45b7fd; border-radius:24px;
 margin-top:70px; float:left;}
.con_li01_l p{ font-size:36px; color:#fff; line-height:50px; text-align:center;}
.con_li01_r{ margin-left:42px; float:left;}
.con_li01_r p{ font-size:44px; color:#333; text-align:left; line-height:70px;
 margin-top:50px;}
.con_li01_r p span{ font-size:36px; color:#333; display:block;}

.con_list02{ background:url(../images/jiek_03.png) no-repeat;background-position:23px 0;}
.con_li02_l{ width:48px; height:50px; background:#45b7f5; border-radius:24px;
 margin-top:70px; float:left;}
.con_li02_l p{ font-size:36px; color:#fff; line-height:50px; text-align:center;}
.con_li02_r{ margin-left:42px; float:left;}
.con_li02_r p{ font-size:44px; color:#333; text-align:left; line-height:70px;
 margin-top:50px;}
.con_li02_r p span{ font-size:36px; color:#333; display:block;}

.con_list03{ background:url(../images/jiek_03.png) no-repeat;background-position:23px 100px;}
.con_li03_l{ width:48px; height:50px; background:#45b7f5; border-radius:24px;
 margin-top:70px; float:left;}
.con_li03_l p{ font-size:36px; color:#fff; line-height:50px; text-align:center;}
.con_li03_r{ margin-left:42px; float:left;}
.con_li03_r p{ font-size:44px; color:#333; text-align:left; line-height:50px;
 margin-top:50px;}
.con_li03_r p span{ font-size:36px; color:#333; display:block;}

/* content  end------------------------------------*/






.foot{ width:100%; height:144px; border-top:1px solid #f0f0f0; background-color:#fff; position:fixed; bottom:0;}
.line{ width:100%; height:1px; background-color:#dcdcdc;}
.foot img{ margin-top:20px;}
.icon1{ margin-left:10%; float:left; }
.icon2{ margin:0 auto;}
.icon3{ margin-right:10%; float:right; }























