
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>续期还款</h5>
                </div>
                <div class="ibox-content">

                    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <td>序号</td>
                            <th>手机号(用户名)</th>
                            <th>持卡人姓名</th>

                            <th>借款时间</th>
                            <th>续期日期</th>
                            <th>原还款时间</th>
                            <th>借款金额</th>
                            <th>借款期限</th>
                            <th>现到期时间</th>
                            <th>续期天数</th>
                            <th>续期次数</th>
                            <th>续期综合费用</th>
                            <th>续期订单号</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="continued_data" id="vo" key="k">
                                <tr>
                                    <td>{$k}</td>
                                    <td><a href="__ROOT__/index.php/Home/Examine/credit?id={$vo['user_name']}&open_id={$vo['open_id']}">{$vo['user_name']}</a></td>
                                    <td>{$vo['u_name']}</td>
                                    <td>{$vo['pay_time']|date= "Y-m-d H:i",###}</td>
                                    
                                    <td <if condition="$vo['repayment_time'] gt $time">style="color:red;"</if>>{$vo['repayment_time']|date= "Y-m-d H:i",###}</td>
                                   
                                    <td>
                                        <if condition="($vo['loan_time'] eq 1)">
                                            {$vo['pay_time']|original1}
                                        <elseif condition="($vo['loan_time'] eq 2)" />
                                            {$vo['pay_time']|original2}
                                        </if>
                                    </td>
                                    <td>{$vo['loan_amount']}</td>
                                    <td>
                                        <if condition="$vo['loan_time'] eq 2">
                                            14
                                        <else/>
                                            7
                                        </if>
                                    </td>
                                    <td>{$vo['renewal_days']*86400+$vo['loan_time']*7*86400+$vo['pay_time']|date= "Y-m-d H:i",###}
                                    </td>
                                    <td>
                                        <php>
                                            if(($vo['renewal_days']%7)==0){
                                                echo $vo['renewal_days']."天";
                                            }else{
                                                echo "<span style='color:red'>".$vo['renewal_days']."天</span>";
                                            }
                                        </php>
                                    </td>
                                    <td>{$vo['renewal_num']}次</td>
                                    <td>{$vo['pay_money']}元</td>
                                    <td>{$vo['renewal_order']}</td>
                                </tr>
                        </volist>
                        </tbody>
                    </table>
                    <div class="pagination">{$page}</div>
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
</html>
