
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                </nav>
            </div>
            <div class="row content-tabs">
                <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
               <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>待放款列表</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>注册手机号</th>
                                    <th>持卡人姓名</th>
                                    <th>银行卡号</th>
                                    <th>所属银行</th>
                                    <th>身份证号</th>
                                    <th>申请借款时间</th>
                                    <th>申请借款期限</th>
                                    <th>审批额度</th>
                                    <th>放款额度</th>
                                    <th>确定打款</th>
                                    <th>取消打款</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <volist name="PendingInfo" id="vo" key="k">
                                        <tr>
                                            <td>{$k}</td>
                                           <td><a href="__ROOT__/index.php/Home/Examine/credit?id={$vo['user_name']}&open_id={$vo['open_id']}">{$vo['user_name']}</a></td>
                                            <td>{$vo['bank_name']}</td>
                                            <td>{$vo['bank_card']}</td>
                                            <td>{$vo['bank_card']|banHome}</td>
                                            <td>{$vo['identity']}</td>
                                            <td>{$vo['loan_request']|date="Y-m-d H:i",###}</td>
                                            <td>
                                                <if condition="($vo['loan_time'] eq 1)">
                                                    <b>7天</b>
                                                <elseif condition="($vo['loan_time'] eq 2)" />
                                                    <b>14天</b>
                                                </if>
                                            </td> 
                                            <td><b>{$vo['loan_amount']}元</b></td>
                                            <td><b>{$vo['loan_amount']}元</b></td>
                                            <td>
                                                <if condition="($vo['automatic'] eq 1)">
                                                <else/>
                                                    <a href="{:U('Home/Pending/change',array('id'=>$vo['loan_id'],'status'=>'1'))}" onclick="javascript:return del();">确认打款</a>
                                                </if>
                                            
                                            </td>
                                             <td>
                                             <if condition="($vo['automatic'] eq 1)">
                                                <else/>
                                                    <a href="{:U('Home/Pending/changes',array('id'=>$vo['loan_id']))}" onclick="javascript:return del();">取消打款</a>
                                                </if>

                                            </td>
                                        </tr>
                                    </volist>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
    <script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
    <script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
    <script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script type="text/javascript">
function del() {
    var msg = "您确定你的操作吗？";
    if (confirm(msg)==true){
        return true;
    }else{
        return false;
    }
}
</script>
</html>
