
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span style="color:red;Font-size:32px;">{$subscribe}</span>
                    <span style="color:red;Font-size:32px;">{$nit}</span>
                    <input type="button" value="处理操作" onclick="Ceng()">

                    <input type="button" value="紧急联系人" id="link">
                    
                    <a href="__URL__/to_excel?id=<?php echo $_GET['id'];?>"><input type="button" value="导出"></a>
                    <h5 style="margin-left:1000px;color:red;Font-size:32px;">{$hint}</h5>
                    <h5 style="float:right;color:red;Font-size:32px;">{$t_hint}</h5>
                </div>
                <div class="ibox-content">



<div id="ceng" style="position:absolute;z-index:2;left:0;top:0;right:0;background-color:#000;filter:alpha(opacity=50);margin:1px 1px;display:none;width:100%;height:100%;text-align:center;"> 
</div>
<div id="close" style="position:absolute !important;left:30%;top:0px;z-index:3;border:1px solid #b2b1b3;background-color:#fff;margin:100px auto;padding:0px;display:none;width:1000px;height:500px;">
<a href="#" onclick="closeCeng()" style="text-align:right; float:right; margin:20px; color:#b2b1b3">关闭</a>
    <div class="mycenter-right" id="mycenter-li">
       <form action="{:U('Home/Infoaudit/change',array('id'=>$loan_data['user_id'],'status'=>'1'))}" method="post"> 
            不通过原因<br /><br /> 
            <label><input name="weiname" type="checkbox" value="1" />微信昵称</label> 
            <label><input name="phone" type="checkbox" value="1" />前50个通话记录有效手机号</label> 
            <label><input name="inter" type="checkbox" value="1" />在网时长</label> 
            <label><input name="link" type="checkbox" value="1" />紧急联系人号码在通话记录内</label>
            <label><input name="bank" type="checkbox" value="1" />贷款被叫不超过两家，每家不超过两次</label> 
            <label><input name="stop" type="checkbox" value="1" />无澳门通话记录，且110通话次数不超过三次</label> 
            <label><input name="month" type="checkbox" value="1" />近两个月有消费记录</label> 
            <label><input name="year" type="checkbox" value="1" />一年消费超过500元</label>  
            <label><input name="agreement" type="checkbox" value="1" />注册、淘宝、支付宝三电话一致</label>  
            <label><input name="contain" type="checkbox" value="1" />家庭、工作至少有一条在淘宝收货地址中（具体到街道）</label> 
            <label><input name="idnumber" type="checkbox" value="2" />身份证号</label> 
            <label><input name="photo" type="checkbox" value="3" />照片</label> 
            <label><input name="sesame" type="checkbox" value="4" />芝麻认证</label> 
            <label><input name="bankcar" type="checkbox" value="5" />银行卡</label> 
            <br> 
            <label><input type="submit" value="提交" =""></label> 
        </form>     
    </div>
</div>


<if condition="$borrow eq ''">
    <h5>第一次借款</h5>
<else/>
    <h5>借款{$borrow}次</h5>
</if>

<if condition="$frist_overdue eq '最后一次逾期'">
    <h5 style="color:red">{$frist_overdue}</h5>
<else/>
    <h5>{$frist_overdue}</h5>
</if>

<if condition="$new_record_data eq ''">

<else/>
<table border="1px" id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <tr>
        <td>应还时间时间</td>
        <td>还款时间</td>
        <td>逾期天数</td>
        <td>逾期费用</td>
    </tr>
<volist name="new_record_data" id="vo">
    <tr>
        <td>{$vo.should_time|date="Y-m-d H:i:s",###}</td>
        <td>{$vo.repayment_time|date="Y-m-d H:i:s",###}</td>
        <td>{$vo.day}</td>
        <td>{$vo.overdue_money}</td>
    </tr>
</volist>
</table>
</if>
<!-- 芝麻信息开始  -->
<span style="Font-size:32px;">查看信息   </span><span style="margin-left:100px;Font-size:32px;">单号：{$loan_data.loan_order}</span>
<table border="1px" id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <tr>
        
        <td>手机号</td>
        <td>姓名</td>
        <td>身份证</td>
        <td>银行卡</td>
        <td>紧急联系人姓名</td>
        <td>紧急联系人手机号</td>
        <td rowspan="4" width="100px" id="confirm"  ><img id="img_i" src="__ROOT__/Public/mobile/images/color.png" width="100%" height="100%" style="display:none"></td>
    </tr>
    <tr>
        
        <td style="color:#000000">{$user_data['user_name']}</td>
        <td style="color:#000000">{$user_data['u_name']}</td>
        <td  style="color:#000000">{$user_data['identity']}</td>
        <td  style="color:#000000">{$user_data['bank_card']}</td>
        
        <td  style="color:#000000">{$user_data['linkman_name']}</td>
        <td  style="color:#000000">{$user_data['linkman_tel']}</td>
    </tr>
    <tr>
        <td>芝麻分</td>
        <td>微信昵称</td>
        <td>网龄</td>
           <td>京东消费</td>
           <td>京东真实姓名</td>
        <td>京东登录名</td>
    </tr>
    <tr>
        <td style="color:#000000">{$credit_data['zm_score']}</td>
        <td>{$weixin['nickname']}</td>
        <td >{$apix_data.phoneInfo.netAge}</td>
        <td>{$response.consumeHistroy.aYearTotalConsumeMoney}</td>
        <td>{$response.baseInfo.realName}</td>
        <td>{$response.jd_login_name}</td>
    </tr>
    <tr>
        <td>微信地址</td>
        <td>前十通话平均值</td>
        <td>微信地理位置</td>
        <td>紧急联系人姓名</td>
        <td>紧急联系人手机号</td>
        <td>通话30次以上</td>
    </tr>
    <tr>
        <td>{$weixin['country']}{$weixin['province']}{$weixin['city']}</td>
        <td>{$tel_valid_time}</td>
        <td>{$location_data}</td>
        <td>{$user_data['clan_name']}</td>
        <td>{$user_data['clan_tel']}</td>
        <td <if condition="$apix_return['tel_num'] ELT 5">
        style="color:red;Font-size:32px;"
        </if>>
            {$apix_return['tel_num']}
        </td>
    </tr>
    <tr>
        <td>联系人一</td>
        <td>联系人二</td>
    </tr>
    <tr>
        <if condition="($people1 EQ '未找到此人')">
            <td>{$people1}</td>
        <else />
            <td style="color:#FF0000">{$people1}</td>
        </if>
        <if condition="($people2 EQ '未找到此人')">
           <td>{$people2}</td>
        <else />
            <td style="color:#FF0000">{$people2}</td>
        </if>
    </tr>
</table>
<h1>验证信息(APIX)</h1>
<table border="1px" id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">

</table>
<table border="1px" id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
<tr>
    <td>淘宝绑定手机号</td>
    <td>支付宝手机绑定</td>
    <td>花呗总额</td>
    <td>{$time_year}淘宝消费</td>
    <td>话费当前余额</td>
    <td>互通电话量</td>
    <td>有效号码（50个内）</td>
    
    <td rowspan="6" width="100px" id="confirm1"  ><img id="img_i1" src="__ROOT__/Public/mobile/images/color.png" width="100%" height="100%" style="display:none"></td>
</tr>
<tr>
    
    <td 
        <php>
        $taobao_tel=substr($accountSafeInfo['bindMobile'],0,3).substr($accountSafeInfo['bindMobile'],-4);
        $user_name_tel=substr($user_name,0,3).substr($user_name,-4);
        if($taobao_tel==$user_name_tel){
            
        }else{
            echo "style='color:red;Font-size:32px;'";
        }
        </php>
    > {$accountSafeInfo.bindMobile}</td>
    <td 
        <php>
        $zfb_tel=substr($bindAccountInfo['bindMobile'],0,3).substr($bindAccountInfo['bindMobile'],-3);
        $user_name_tel=substr($user_name,0,3).substr($user_name,-3);
        if($zfb_tel==$user_name_tel){
        }else{
            echo "style='color:red;Font-size:32px;'";
        }
        </php>

    >{$bindAccountInfo.bindMobile}</td>
    <td <if condition="$personalInfo['huabeiTotalAmount'] elt 0">
       style="color:red;Font-size:32px;"
       </if>
       >{$personalInfo.huabeiTotalAmount}</td>

    <td <if condition="$lost_money elt 500">
        style="color:red;Font-size:32px;"
        </if>
        >{$lost_money}</td>
    

    <td 
    <if condition="$apix_data['phoneInfo']['balance'] elt 0">style="color:red;Font-size:32px;"</if>
    >{$apix_data.phoneInfo.balance}</td>
    <td 
    <if condition="$apix_return['interflow'] elt 10">style="color:red;Font-size:32px;"</if>
    >{$apix_return.interflow}</td>
    <td 
    <if condition="$apix_return['valid'] lt 30">style="color:red;Font-size:32px;"</if>
    >{$apix_return.valid}</td>


</tr>


<!-- 紧急联系人  开始-->
<if condition="$apix_return['linkman_tel'] eq ''">
    <tr>
        <td>紧急联系人通话</td>
        <td colspan="4" style="color:red">没有紧急联系人通话记录</td>
    </tr>
<else/>
    <tr>
        <td rowspan="2">紧急联系人通话</td>
        <td>号码</td>
        <td>通话时长</td>
        <td>通话次数</td>
        <td>号码归属地</td>
        <td>被叫次数</td>
        <td>主叫次数</td>

    </tr>
    <tr>
         <td>{$apix_return.linkman_tel.phoneNo}</td>
        <td>{$apix_return.linkman_tel.connTime}</td>
        <td>{$apix_return.linkman_tel.connTimes}</td>
        <td>{$apix_return.linkman_tel.belongArea}</td>
        <td>{$apix_return.linkman_tel.calledTimes}</td>
        <td>{$apix_return.linkman_tel.callTimes}</td>

    </tr>
</if>



<if condition="$user_data['clan_tel'] eq ''">
    <tr>
        <td>新紧急联系人通话</td>
        <td colspan="4" >未填写</td>
    </tr>
<else/>
    <if condition="$apix_return['clan_tel'] eq ''">
        <tr>
            <td>新紧急联系人通话</td>
            <td colspan="4" style="color:red">没有紧急联系人通话记录</td>
        </tr>
    <else/>
        <tr>
            <td rowspan="2">新紧急联系人通话</td>
            <td>号码</td>
            <td>通话时长</td>
            <td>通话次数</td>
            <td>号码归属地</td>
            <td>被叫次数</td>
            <td>主叫次数</td>

        </tr>
        <tr>
            <td>{$apix_return.clan_tel.phoneNo}</td>
            <td>{$apix_return.clan_tel.connTime}</td>
            <td>{$apix_return.clan_tel.connTimes}</td>
            <td>{$apix_return.clan_tel.belongArea}</td>
            <td>{$apix_return.clan_tel.calledTimes}</td>
            <td>{$apix_return.clan_tel.callTimes}</td>

        </tr>
    </if>
</if>





<!-- 紧急联系人  结束-->


<!-- 地址 -->
<tr>
    <td >
        <p>现居地址</p>
        <p>公司地址</p>
    </td>
    <td colspan="4" >
        <p>{$user_data.addres}</p>
        <p>{$user_data.com_addres}</p>
    </td>
</tr>
<!-- 地址 -->

<!--收货地址开始-->
<if condition="$addrs eq ''">
    <tr>
        <td >收货地址</td>
        <td colspan="4" style="color:red;">未找到匹配地址</td>
    </tr>
<else/>
    
        <tr>
            <td>收货地址</td>
            <td colspan="4" >
                <volist name="addrs" id="vo">
                    <p>{$vo}</p>
                </volist>
            </td>
        </tr>
</if>
<!--收货地址结束-->

<!-- 京东地址为空  -->

<if condition="$response.orderAddress eq ''">
    <tr>
        <td >京东收货地址</td>
        <td colspan="4" style="color:red;">未找到京东匹配地址</td>
    </tr>
<else/>
    
        <tr>
            <td>京东收货地址</td>
            <td colspan="4" >
                <volist name="response.orderAddress" id="vo">
                    <p>{$vo}</p>
                </volist>
            </td>
        </tr>
</if>
<tr>
        <td >京东绑定银行卡</td>
       
            <td>
                <volist name="response.bindBankCards" id="vo">
                <p>{$vo}</p>
                </volist>
            </td>
       
</tr>

<!-- 京东地址为空  -->


<tr>
    <td>欺诈分</td>
    <if condition="($credit_data['is_matched'] eq 0)">
    <else/>
    <td >行业关注名单</td>
    </if>
    <td >四要素信息</td>
    <td >紧急联系人二要素</td>
    <td >新紧急联系人二要素</td>
    <if condition="$three_ele neq ''">
    <td >三要素信息</td>
    </if>
    
    
    
</tr>

<tr>
    <td  <if condition="$credit_data['ivs_score'] lt 85">style="color:red;Font-size:32px;"</if>>{$credit_data['ivs_score']}</td>
    <if condition="($credit_data['is_matched'] eq 0)">
    <else/>
    <td  style="color:red;Font-size:32px;">在</td>
    </if>
<!-- 四要素信息 -->
    <td>
        <if condition="$match eq ''">
            <span style="color:blue;Font-size:32px;">匹配</span>
        <else/>
        <volist name="match" id="vo">
            <p style="color:red">{$vo}</p> 
        </volist>
        </if>
    </td>
<!--  二要素信息 -->
    <td>
        <if condition="$ele eq ''">
            <span style="color:blue;Font-size:32px;">匹配</span>
        <else/>
        <volist name="ele" id="vo">
            <p style="color:red">{$vo}</p> 
        </volist>
        </if>
    </td>


    <!--  亲属联系人信息 -->
    <td>
        <if condition="$clan eq ''">
            <span style="color:blue;Font-size:32px;">匹配</span>
        <elseif condition="$clan eq 1"/>
            <span>未填写</span>
        <else/>
        <volist name="clan" id="vo">
            <p style="color:red">{$vo}</p> 
        </volist>
        </if>
    </td>
<!-- 三要素信息 -->
    <if condition="$three_ele neq ''">
    <td >
        <volist name="three_ele" id="vo">
            <p style="color:red">{$vo}</p>
        </volist>
    </td>
    </if>
</tr>

<if condition="($credit_data['is_matched'] eq 0)">
<else/>
    <tr>
        <td>行业关注名单详情</td>
        <td colspan="7" style="color:red">{$credit_data['focus_detail']}</td>
    </tr>
</if>

<if condition="($hit_detail eq '')">
<else/>
    <tr>
        <td>欺诈关注清单</td>
        <td colspan="7" style="color:red">{$hit_detail}</td>
    </tr>
</if>
</table>

                       
<h1>人工审核信息   (身份号：{$user_data['identity']})</h1>
<table>
    <tr>
        <td style="height:auto;width:33%; float: left;"><img id="target1" style=" width: 100%; height: auto; margin: 0 auto;" src="__ROOT__/Uploads/{$user_data['identity_front']}"></td>
        <td style="height:auto;width:33%; float: left; margin: 0 auto;"><img id="target2" style=" width: 100%; height: auto; margin: 0 auto;"  src="__ROOT__/Uploads/{$user_data['identity_reverse']}"></td>
        <td style="height:auto;width:33%; float: right;"><img id="target3" style=" width: 100%; height: auto; margin: 0 auto;"  src="__ROOT__/Uploads/{$user_data['self_portrait']}"></td>
    </tr>
    
</table>

<!--  Apix 通讯开始  -->

<h1>未知通话</h1>
<table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <tr>
        <td>号码</td>
        <td>通话时长</td>
        <td>通话次数</td>
        <td>号码归属地</td>
        <td>被叫次数</td>
        <td>主叫次数</td>
        <td>号码标识</td>
      </tr>
    <volist name="apix_return.special" id="vo">
        <tr>
        <td>{$vo.phoneNo}</td>
        <td>{$vo.connTime}</td>
        <td>{$vo.connTimes}</td>
        <td>{$vo.belongArea}</td>
        <td style="color:red">{$vo.calledTimes}</td>
        <td >{$vo.callTimes}</td>
        <td >{$vo.identifyInfo}</td>
      </tr>
    </volist>
</table>


<h1>通话记录分析</h1>
    <table   id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
      <tr>
        <td>号码</td>
        <td>通话时长</td>
        <td>通话次数</td>
        <td>号码归属地</td>
        <td>被叫次数</td>
        <td>主叫次数</td>
        <td>号码标识</td>
      </tr>
    <volist name="apix_data.callRecordsInfo" id="vo" offset="0" length='20'>
      <tr>
        <td 
        <php>preg_match('/^1[34578]\d{9}$/A',$vo['phoneNo'],$match); 
            if(empty($match)){
                echo "style='color:red'";
            }</php>
            >{$vo.phoneNo}</td>
        <td>{$vo.connTime}</td>

        <td <if condition="$vo.connTimes egt 30">style="color:blue"</if>>

            {$vo.connTimes}

        </td>
        <td>{$vo.belongArea}</td>
        <td 
        <if condition="$vo.identifyInfo neq ''">
          style="color:red"
        </if>
        >{$vo.calledTimes}</td>
        <td 
        <if condition="$vo.identifyInfo neq ''">
          style="color:red"
        </if>
        >{$vo.callTimes}</td>
        <td style="color:red">{$vo.identifyInfo}</td>
      </tr>
    </volist>
    </table>
<!--  Apix 通讯结束  -->
      
<volist name="arr" id="vo">
       <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <volist name="vo['orderProducts']" id="v">
       <tr>
            <td style="color:#0000E3">产品名称:</td>
        <td>{$v.productName}</td>
            <td style="color:#0000E3">产品价格:</td>
        <td>{$v.productPrice}</td>
       </tr>
    </volist>
          <tr style="color:#0000E3">
            <td>订单日期</td>
            <td>订单状态</td>
            <td>订单总额</td>
            <td>订单号</td>
          </tr>
          <tr>
            <td>{$vo.businessDate}</td>
            <td>{$vo.orderStatus}</td>
            <td>{$vo.orderTotalPrice}</td>
            <td>{$vo.orderid}</td>
          </tr>
       </table>
</volist>


                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>


<script type="text/javascript">
    $("#link").click(function(){
        if(confirm("确认紧急联系人不在通讯录吗？")){
           window.location.href="__URL__/linksend?id=<?php echo $_GET['id']; ?>";
        }
    });
</script>



<script>






    window.onload = function(){
      var current = 0;
      document.getElementById('target1').onclick = function(){
          current = (current+90)%360;
          this.style.transform = 'rotate('+current+'deg)';
      document.getElementById('target2').onclick = function(){
          current = (current+90)%360;
          this.style.transform = 'rotate('+current+'deg)';
          }
      document.getElementById('target3').onclick = function(){
          current = (current+90)%360;
          this.style.transform = 'rotate('+current+'deg)';
          }
      }
    };
</script>
<script type="text/javascript">
    $("#confirm").click(function(){
        var color=$("#img_i").css("display");
        if(color=="none"){
            $("#img_i").css("display","block");
        }else{
            $("#img_i").css("display","none");
        }
    });
    $("#confirm1").click(function(){
        var color=$("#img_i1").css("display");
        if(color=="none"){
            $("#img_i1").css("display","block");
        }else{
            $("#img_i1").css("display","none");
        }
    });
</script>
<script type="text/javascript">
    function Ceng() {
        document.getElementById('ceng').style.display = 'block';
        document.getElementById('close').style.display = 'block';
        return false;
    }
    function closeCeng() {
        document.getElementById('ceng').style.display = 'none';
        document.getElementById('close').style.display = 'none';
        return false;
         
    }
     
</script>
</body>
</html>