<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">

        <title></title>
<script type="text/javascript" src="__ROOT__/Public/mobile/js/jq-5.js"></script>
<script type="text/javascript" src="__ROOT__/Public/mobile/js/jquery-1.11.1.js"></script>
    </head>

    <body>
        <form action="__URL__/collect" method="post" enctype="multipart/form-data" onSubmit="return login();" id="loginForm">
            request_id ： <input type="text" name="request_id" id="request_id">
            原始数据：<input type="radio" value="P_C_Q001" name="inf_id" checked="checked">
            万达数据：<input type="radio" value="P_C_Q002" name="inf_id">
             <input type="submit" value="提交">
        </from>
    </body>


</html>