<!doctype html>
<html>
   <head>
<style>
* {margin: 0;padding: 0;}
body {color: #000; background: #FFF; font-family: Verdana, Arial, sans-serif; font-size: 12px; text-align: center; font-family: "Microsoft YaHei", 微软雅黑}
textarea, input {word-wrap: break-word; word-break: break-all; padding: 0px;}
li {list-style-type: none;}
.qing {clear: both; height: 0px; width: 100%; font-size: 1px; line-height: 0px; visibility: hidden; overflow: hidden;}
</style>

<script src="__ROOT__/Public/mobile/js/jquery.min.js"></script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
<title>验证码</title>
   </head>

   <body style="background-color:#f2f2f2;">
<form action="__URL__/ver_code" method="post" enctype="multipart/form-data" onSubmit="return login();" id="loginForm">
   <div style="margin-top:10px; width:100%; height:50px; background-color:#fff;">
     <input type="number"  placeholder="请输入验证码" maxlength="6" style="width:92%; margin:0 auto; height:40px; margin-top:5px; border:none; font-size:1.3em;"  name="code" id="mobile"/>
   </div>
     <div class="qing"></div>
   </div>
   

   <div style="width:92%; height:40px; margin:0 auto; margin-top:30px;">
     <a href="###">
       <input type="submit" value="确定" style="width:100%; height:40px; background-color:#45b7fd; color:#fff; font-size:1.3em; border:none; border-radius:20px;"/>
     </a> 
   </div>
</from>  
</body>
</html>
