    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i></a>
                </div>
            </nav>
        </div>
        <div class="row content-tabs">
            <a href="{:U('Home/index/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
        </div>
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>淘宝万达列表</h5>
                     <h5 style="color:red;margin-left:1000px;">{$hint}</h5>
                     <h1 style="color:red;margin-left:1000px;">{$hit}</h1>
                </div>
                <div class="ibox-content">
 <!--  微信 开始 -->
<table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                        <thead>
                        <tr>
                            <th>用户id</th>
                            <!-- <th>用户微信头像</th> -->
                            <th>微信昵称</th>
                            <th>持卡人姓名</th>
                            <th>手机号(用户名)</th>
                            <th>用户openid</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        
                                    <tr>
                                        <td>{$array['user_id']}</td>
                                        <!-- <td>{$array['headimgurl']}</td> -->
                                        <td>{$array['nickname']}</td>
                                        <td>{$array['u_name']}</td>
                                        <td>{$array['user_name']}</td>
                                        <td>{$array['openid']}</td>
                                      
                                    </tr>
                               
                        </tbody>
                    </table>


      <!--  微信 结束 -->


<!-- APIX  通话详情开始-->


<table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
      <tr>
        <td>姓名</td>
        <td>身份证号码</td>
        <td>登记手机号</td>
        <td>入网时间</td>
        <td>认证实名</td>
        <td>认证身份证号</td>
        <td>手机号</td>
        <td>登记邮箱</td>
        <td>当前余额</td>
        <td>会员等级</td>
        <td>积分值</td>
        <td>网龄</td>
        <td>最早通话时间</td>
        <td>最近通话时间</td>
      </tr>
      <tr>
        <td>{$apix_data.basicInfo.name}</td>
        <td>{$apix_data.basicInfo.certNo}</td>
        <td style="color:red">{$apix_data.basicInfo.phoneNo}</td>
        <td>{$apix_data.phoneInfo.inNetDate}</td>
        <td style="color:red">{$apix_data.phoneInfo.realName}</td>
        <td style="color:red">{$apix_data.phoneInfo.certNo}</td>
        <td style="color:red">{$apix_data.phoneInfo.phoneNo}</td>
        <td>{$apix_data.phoneInfo.email}</td>
        <td>{$apix_data.phoneInfo.balance}</td>
        <td>{$apix_data.phoneInfo.vipLevel}</td>
        <td>{$apix_data.phoneInfo.pointValue}</td>
        <td style="color:red">{$apix_data.phoneInfo.netAge}</td>
        <td>{$apix_data.phoneInfo.firstCallDate}</td>
        <td>{$apix_data.phoneInfo.lastCallDate}</td>
      </tr>
      <tr>
        
        <td>运营商是否实名</td>
        <td>运营商实名是否与登记人一致</td>
        <td>是否出现长时间关机（5天以上无短信记录，无通话记录）</td>
        <td>申请人信息是否命中网贷黑名单</td>
        <td>是否出现法院相关号码呼叫</td>
        <td>身份证号码有效性</td>
      </tr>
      <tr>
       
        <td style="color:red">{$apix_data.deceitRisk.phoneIsAuth}</td>
        <td>{$apix_data.deceitRisk.samePeople}</td>
        <td>{$apix_data.deceitRisk.longTimePowerOff}</td>
        <td>{$apix_data.deceitRisk.inBlacklist}</td>
        <td>{$apix_data.deceitRisk.calledByCourtNo}</td>
         <td>{$apix_data.deceitRisk.certNoIsValid}</td>
      </tr>
    </table>
<h1 style="color:red">运营商消费分析</h1>
    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
      <tr>
        <td>月份</td>
        <td>主叫时间</td>
        <td>被叫时间</td>
        <td>短信数</td>
        <td>话费充值额</td>
      </tr>
    <volist name="apix_data.consumeInfo" id="vo">
      <tr>
        <td>{$vo.month}</td>
        <td>{$vo.callTime}</td>
        <td>{$vo.calledTime}</td>
        <td>{$vo.totalSmsNumber}</td>
        <td 
        <if condition="$vo.payMoney eq 0">
            style="color:red"
        <else/>
            style="color:blue"
        </if>
        >{$vo.payMoney}</td>
      </tr>
    </volist>
    </table>

<h1 style="color:red">通话短信需求分析</h1>
    <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
      <tr>
        <td>通话次数</td>
        <td>对方标识</td>
        <td>月份</td>
        <td>对方号码</td>
        <td>短信条数</td>
      </tr>
    <volist name="apix_data.specialCallInfo" id="vo">
      <tr>
        <td>{$vo.connTimes}</td>
        <td>{$vo.identityInfo}</td>
        <td>{$vo.month}</td>
        <td>{$vo.phoneNo}</td>
        <td>{$vo.smsTimes}</td>
      </tr>
    </volist>
    </table>

    

<h1 style="color:red">通话记录分析</h1>
    <table   id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
      <tr>
        <td>号码</td>
        <td>通话时长</td>
        <td>通话次数</td>
        <td>号码归属地</td>
        <td>被叫次数</td>
        <td>主叫次数</td>
        <td>号码标识</td>
      </tr>
    <volist name="apix_data.callRecordsInfo" id="vo" offset="0" length='100'>
      <tr>
        <td 
        <php>preg_match('/^1[34578]\d{9}$/A',$vo['phoneNo'],$match); 
            if(empty($match)){
                echo "style='color:red'";
            }</php>
            >{$vo.phoneNo}</td>
        <td>{$vo.connTime}</td>
        <td>{$vo.connTimes}</td>
        <td>{$vo.belongArea}</td>
        <td 
        <if condition="$vo.identifyInfo neq ''">
          style="color:red"
        </if>
        >{$vo.calledTimes}</td>
        <td 
        <if condition="$vo.identifyInfo neq ''">
          style="color:red"
        </if>
        >{$vo.callTimes}</td>
        <td style="color:red">{$vo.identifyInfo}</td>
      </tr>
    </volist>
    </table>
<h1 style="color:red">联系人位置分析</h1>
    <table border="1px">
      <tr>
        <td>地区</td>
        <td>号码数量</td>
        <td>主叫次数</td>
        <td>主叫时间</td>
        <td>被叫次数</td>
        <td>被叫时间</td>
        <td>占比</td>
      </tr>
    <volist name="apix_data.contactAreaInfo" id="vo"  offset="0" length='5'>
      <tr>
        <td>{$vo.area}</td>
        <td>{$vo.totalNumber}</td>
        <td>{$vo.callTimes}</td>
        <td>{$vo.callTime}</td>
        <td>{$vo.calledTimes}</td>
        <td>{$vo.calledTime}</td>
        <td>{$vo.percent}</td>
      </tr>
    </volist>
    </table>
<!-- APIX  通话详情结束-->

<!--    淘宝信息   开始-->

    
                 <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">

           <tr style="color:#0000E3">
               <td>绑定手机号</td>
               <td>实名认证</td>
               <td>绑定邮箱</td>
               <td>密码认证</td>
               <td>手机绑定</td>
               <td>密保问题</td>
               <td>安全级别</td>
               <td>用户名</td>
           </tr>
           <tr style="color:#00BB00">
               <td style="color:red">{$accountSafeInfo.bindMobile}</td>
               <td>{$accountSafeInfo.identityVerified}</td>
               <td>{$accountSafeInfo.loginEmail}</td>
               <td>{$accountSafeInfo.loginPasswdVerify}</td>
               <td>{$accountSafeInfo.mobileVerified}</td>
               <td>{$accountSafeInfo.pwdProtectedQuestion}</td>
               <td>{$accountSafeInfo.safeLevel}</td>
               <td>{$accountSafeInfo.username}</td>
          </tr> 
          <tr style="color:#0000E3">
               <td>账户类型</td>
               <td>支付宝账户</td>
               <td>绑定邮箱</td>
               <td>绑定手机</td>
               <td>实名信息</td>
           </tr>
           <tr style="color:#00BB00">
               <td>{$bindAccountInfo.accountType}</td>
               <td>{$bindAccountInfo.alipatAccount}</td>
               <td>{$bindAccountInfo.bindEmail}</td>
               <td style="color:red">{$bindAccountInfo.bindMobile}</td>
               <td style="color:red">{$bindAccountInfo.identity}</td>
          </tr> 
          <tr style="color:#0000E3">
               <td>支付宝余额</td>
               <td>余额宝金额</td>
               <td>余额宝收益</td>
               <td>买家信用分</td>
               <td>信用等级</td>
               <td>成长值</td>
               <td>花呗余额</td>
               <td>花呗总额</td>
               <td>淘宝快捷支付限额</td>
               <td>淘宝等级</td>
               <td>淘宝账户名称</td>
               <td>天猫等级</td>
               <td>天猫分数</td>
               <td>天猫经验值</td>
           </tr>
           <tr style="color:#00BB00">
               <td>{$personalInfo.aliPayRemainingAmount}</td>
               <td>{$personalInfo.aliPaymFund}</td>
               <td>{$personalInfo.aliPaymFundProfit}</td>
               <td>{$personalInfo.buyerCreditPoint}</td>
               <td>{$personalInfo.creditLevel}</td>
               <td>{$personalInfo.growthValue}</td>
               <td>{$personalInfo.huabeiCanUseMoney}</td>
               <td>{$personalInfo.huabeiTotalAmount}</td>
               <td>{$personalInfo.taobaoFastRefundMoney}</td>
               <td>{$personalInfo.taobaoLevel}</td>
               <td>{$personalInfo.tianMaoAccountName}</td>
               <td>{$personalInfo.tianMaoLevel}</td>
               <td>{$personalInfo.tianMaoPoints}</td>
               <td>{$personalInfo.tianmaoExperience}</td>
       
          </tr> 
       </table>
      <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">      
      <tr>
            <td style="color:#0000E3">收货地址</td>
          </tr>
      <volist name="addrs" id="vo">
          <tr>
            <td 
              <php>
                $u_name=mb_substr($vo,0,mb_strlen($array['u_name'],'utf-8'),'utf-8');
                if($u_name==$array['u_name']){
                 echo "style='color:red'";
              }
               
              </php>
            >
              {$vo}
           </td>
       </tr>
      </volist>
       </table>
      


      <span style="color:black;margin-left:100px;">{$mytime}至今成功消费金额：<span style='color:red'>{$lost_money}</span></span>
<volist name="taobao_arr" id="vo">
       <table id="mytable" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
    <volist name="vo['orderProducts']" id="v">
       <tr>
            <td style="color:#0000E3">产品名称:</td>
        <td>{$v.productName}</td>
            <td style="color:#0000E3">产品价格:</td>
        <td>{$v.productPrice}</td>
       </tr>
    </volist>
          <tr style="color:#0000E3">
            <td>订单日期</td>
            <td>订单状态</td>
            <td>订单总额</td>
            <td>订单号</td>
          </tr>
          <tr>
            <td>{$vo.businessDate}</td>
            <td>{$vo.orderStatus}</td>
            <td>{$vo.orderTotalPrice}</td>
            <td>{$vo.orderid}</td>
          </tr>
       </table>
</volist>


<!--    淘宝信息   结束-->
                </div>
            </div>
        </div>
    </div>
    <!--右侧部分结束-->
</div>
<script src="__ROOT__/Public/js/jquery.min.js?v=2.1.4"></script>
<script src="__ROOT__/Public/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__ROOT__/Public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ROOT__/Public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ROOT__/Public/js/plugins/layer/layer.min.js"></script>
<script src="__ROOT__/Public/js/hplus.min.js?v=4.1.0"></script>
<script src="__ROOT__/Public/js/plugins/pace/pace.min.js"></script>
</body>
<script type="text/javascript">
function require() {
      $.ajax({  
                type:"POST",  
                dataType:"json",  
                url:"{:U('Home/Infoaudit/checkNotify')}",  
                data:{tel:1},
                success:function(data){
                    if (data !='error') {
                        var audio = document.createElement("audio");
                            audio.src = "__ROOT__/Public/MP3/02.mp3";
                            audio.play();
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            $("#mytable").append('<tr><td>'+data[i]['user_name']+'</td><td>'+data[i]['create_time']+'</td><td>'+data[i]['linkman_name']+'</td><td>'+data[i]['linkman_tel']+'</td><td>'+data[i]['bank_name']+'</td><td>'+data[i]['bank_tel']+'</td><td>'+data[i]['bank_card']+'</td><td>'+data[i]['identity']+'</td><td><a href="#"><i class="text-navy"></i><a href="#">通过</a> | <a href="#">不通过</a></a></td></tr>'); 
                        }
                    }
                }
            }); 
      setTimeout('require()',3000);
}
</script>
</html>
